workflows/kYqeikfcU9t0hVfk.json
{
  "createdAt": "2025-03-05T21:30:59.344Z",
  "updatedAt": "2025-03-07T21:50:00.000Z",
  "id": "kYqeikfcU9t0hVfk",
  "name": "[Metrics] Calculate",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectName"
            },
            {
              "name": "SprintName"
            },
            {
              "name": "issues",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a3faad81-fe2d-4c7b-80bc-4dc8579e4ea3",
      "name": "Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    i.id AS issue_id,\n    i.summary AS issue_summary,\n    p.name AS project_name,\n    s.name AS sprint_name,\n    i.priority AS issue_priority,\n    i.type AS issue_type,\n    ass.name AS assignee,\n    i.`status`,\n    (\n        SELECT\n            created_at\n        FROM\n            issues_changelog\n        WHERE\n            `to` = 'In Progress'\n            AND issue_id = i.id\n        ORDER BY\n            created_at DESC\n        LIMIT\n            1\n    ) AS in_progress_time,\n    (\n        SELECT\n            created_at\n        FROM\n            issues_changelog\n        WHERE\n            `to` = 'Done'\n            AND issue_id = i.id\n        ORDER BY\n            created_at DESC\n        LIMIT\n            1\n    ) AS done_time\nFROM\n    issues i\n    JOIN projects p ON i.project_id = p.id\n    JOIN sprints_issues si ON i.id = si.issue_id\n    JOIN sprints s ON si.sprint_id = s.id\n    JOIN users ass ON ass.id = i.assignee_id\nWHERE\n    p.name = '{{ $json.projectName }}'\n    AND s.name = '{{ $json.SprintName }}'\nORDER BY\n    i.status;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "15829519-c6ea-4b7d-9f1d-9cf413e4ed8d",
      "name": "Infos DB",
      "notesInFlow": true,
      "credentials": {
        "mySql": {
          "id": "rE0S6LnGwawimzHM",
          "name": "MySQLCredentials"
        }
      },
      "notes": "Get Informations DB"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Calcula a diferença em horas entre duas datas.\n *\n * @param {Date} startDate - Data de início.\n * @param {Date} endDate - Data de término.\n * @returns {number} - Diferença em horas.\n */\nfunction calculateHoursDifference(startDate, endDate) {\n  if (startDate > endDate) {\n    return 0; // Ou lançar um erro, dependendo do comportamento desejado\n  }\n  const diffInMilliseconds = endDate.getTime() - startDate.getTime();\n  return diffInMilliseconds / (1000 * 60 * 60);\n}\n\n/**\n * Calcula o número de dias úteis entre duas datas.\n *\n * @param {Date} startDate - Data de início.\n * @param {Date} endDate - Data de término.\n * @returns {number} - Número de dias úteis.\n */\nfunction calculateBusinessDays(startDate, endDate) {\n  let businessDays = 0;\n  let currentDate = new Date(startDate);\n\n  while (currentDate <= endDate) {\n    const dayOfWeek = currentDate.getDay();\n    if (dayOfWeek !== 0 && dayOfWeek !== 6) {\n      businessDays++;\n    }\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n\n  return businessDays;\n}\n\n/**\n * Calcula a média de um array numérico.\n *\n * @param {number[]} array - Array de números.\n * @returns {number|null} - Média dos números ou null se o array estiver vazio.\n */\nfunction calculateMean(array) {\n  if (array.length === 0) {\n    return null;\n  }\n  const sum = array.reduce((acc, value) => acc + value, 0);\n  return sum / array.length;\n}\n\n/**\n * Calcula as horas de trabalho e dias úteis para um item.\n *\n * @param {object} item - Item com dados de tempo.\n * @returns {object|null} - Objeto com horas e dias úteis ou null se inválido.\n */\nfunction calculateWorkingHours(item) {\n  const startDate = new Date(item.json.in_progress_time);\n  const endDate = new Date(item.json.done_time);\n\n  if (startDate > endDate) {\n    return null;\n  }\n\n  const hours = calculateHoursDifference(startDate, endDate);\n  const days = calculateBusinessDays(startDate, endDate);\n\n  return { startDate, endDate, hours, days };\n}\n\n// Início do código principal\nconst items = $input.all();\n\n// 1. Listar todas as prioridades únicas\nconst priorities = [...new Set(items.map(item => item.json.issue_priority))];\n\nconst results = priorities.map(priority => {\n  const filteredItems = items.filter(item => item.json.issue_priority === priority);\n\n  const workingHours = filteredItems\n    .filter(item => item.json.done_time && item.json.in_progress_time)\n    .map(calculateWorkingHours)\n    .filter(item => item !== null);\n\n  if (workingHours.length === 0) {\n    return { priority, workingHours: [], workingHoursMean: null, workingDaysMean: null };\n  }\n\n  const workingHoursMean = calculateMean(workingHours.map(item => item.hours));\n  const workingDaysMean = calculateMean(workingHours.map(item => item.days));\n\n  return { priority, workingHoursMean, workingDaysMean };\n});\n\nconst doneItems = items.filter(item => item.json.done_time);\nconst bugItems = items.filter(item => item.json.issue_type === \"Bug\");\n\nreturn {\n  efficiency: doneItems.length / items.length,\n  quality: (doneItems.length-bugItems.length)/doneItems.length,\n  bugItemsQuantity: bugItems.length,\n  doneItemsQuantity: doneItems.length,\n  totalItemsQuantity: items.length,\n  priorities,\n  results,\n  sprint: $('Data').first().json.SprintName,\n  project: $('Data').first().json.projectName,\n  issues: $('Data').first().json.issues ? items.map(item => item.json) : undefined\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "41e573ff-97f2-4482-9e89-e3e39987ae3e",
      "name": "Calculate",
      "notesInFlow": true,
      "notes": "Calculate Metrics"
    }
  ],
  "connections": {
    "Data": {
      "main": [
        [
          {
            "node": "Infos DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infos DB": {
      "main": [
        [
          {
            "node": "Calculate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "92abade3-f187-4667-ad29-6f29fbfac111",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-05T13:39:10.693Z",
      "updatedAt": "2025-03-05T13:40:13.487Z",
      "id": "gISbWmOl5ugOXvEl",
      "name": "Metrics"
    }
  ]
}